.active {
  color: pink;
}

.mobile-nav-btn {
  position: fixed;
  z-index: 5;
  overflow: hidden;
  cursor: pointer;
  top: 25px;
  left: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #FBFAF5;
  /* border: 2px solid #333; */
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .5s ease;
}
.mobile-nav-btn:hover {
  background-color: #ddd;
  /* border-color: #222; */
}
.mobile-nav-btn.open {
  background-color: #333;
}
.mobile-nav-btn.open  .menu-btn_burger.middle {
  transform: translateX(50px);
  background: transparent;
  background-color: #FBFAF5;
  box-shadow: none;
}
.mobile-nav-btn.open .menu-btn_burger.top {
  transform: rotate(45deg) translateY(3.5px) translateX(3.5px);
  background-color: #FBFAF5;
}
.mobile-nav-btn.open .menu-btn_burger.bottom {
  transform: rotate(-45deg) translateY(-3.5px) translateX(3.5px);
  background-color: #FBFAF5;
}
.menu-btn_burger {
  width: 25px;
  position: relative;
  height: 2px;
  margin: 1.75px 0;
  background-color: #333;
  transition: all .5s ease-in-out;
}
.menu-btn_burger.top,
.menu-btn_burger.bottom {
  height: 2px;
}
.mobile-slider-nav {
  position: fixed;
  left: -225px;
  top: 0;
  bottom: 0;
  z-index: 3;
  transition: all .5s ease;
  width: 200px;
  background-color: #FBFAF5;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobile-slider-nav.open {
  left: 0;
}
.mobile-slider-nav a {
  display: block;
  text-align: center;
  padding: 1rem 0.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  width: 100%;
  text-align: left;
  font-weight: 400;
  font-size: 0.9rem;
  transition: all .1s ease-out;
}
.mobile-slider-nav a:hover {
  color: #000;
  border-left: 5px solid cadetblue;
}