* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:blanchedalmond;
}
.content {
  max-width: 500px;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: antiquewhite;
}
.title {
  font-size: 2.25rem;
  margin: 1rem 0;
}
.content p {
  margin: 1rem;
}
footer {
  position: fixed;
  bottom: 10px;
  font-size: 0.75rem;
}

