@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3ABEE6;
    font-family: 'Source sans Pro';
    font-weight: 400;
}
.container {
    max-width: 90%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-image: url('https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
    box-shadow: 2.5px 5px 10px rgba(12, 16, 31);
}
header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
ul {
    padding: 0 20px 0 0;
    margin-left: auto;
}
ul li {
    display: inline;
    margin: 0 10px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
ul li:hover {
    background-color: #3ABEE6;
    color: #fff;
}
.search {
    min-height: 200px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search span {
    display: block;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}
.content {
    width: 80%;
}
.content .search-inputs {
    width: 80%;
    display: flex;
    justify-content: center;
}
.input-container {
    flex: 3;
    position: relative;
}
.input-container i {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.7;
}
.input-container input {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #fff;
    padding: 10px 5px 10px 30px;
}
.search-inputs .input-container:first-of-type input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
input[type='button'] { 
    background-color: rgb(255, 165, 0);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    flex: 1; 
}
input[type='button']:hover {
    background-color: rgba(255, 165, 0, 0.9);
}
.featured-holidays {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 95%;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(12, 16, 31);
}
.holiday {
    flex: 1;
    margin: 5px 10px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.holiday h3 {
    margin: 0;
    flex: 2;
}
.holiday span {
    display: block;
    margin: 10px 0;
}
@media(max-width: 625px) {
    .container {
        flex-direction: column-reverse;
    }
    header {
        background-color: transparent;
        flex: 1;
    }
    ul {
        flex-direction: column;
        margin:  5px auto;
        text-align: center;
        padding: 0;
    }
    ul li {
        display: block;
        color: white;
    }
    ul li:hover {
        color: #1E929E;
        font-weight: 600;
        background-color: white;
    }
    .search {
        flex: 1;
    }
    .content {
        justify-content: center;
        width: 90%;
        text-align: center;
    }
    .content .search-inputs {
        margin-top: 40px;
        flex-direction: column;
        width: 100%;
    }
    .search-inputs .input-container:first-of-type input {
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
    .featured-holidays {
       display: none;
    }
    input[type='button'] {
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}